<%- include("partials/header"); -%>

<p>Welcome to our Advanced Search Option! Ready to take your tree exploration in Winnipeg to the 
  next level? Our advanced search feature offers queries that require a bit more knowledge about 
  trees and Winnipeg, allowing you to delve deeper into the subject.</p>

<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">What are you looking for?
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/advance/comToBotVise">Given common name of a tree find botanical name or vise-versa</a></li>
    <li><a href="/advance/locFromName">Find where a tree is located in Winnipeg</a></li>
    <li><a href="/advance/nearYou">Get top 5 trees near you.</a></li>
    <li><a href="/advance/nearTree">Get top 5 trees which are near a position.</a></li>
  </ul>
</div>

<%- include("partials/footer"); -%>