<%- include("partials/header"); -%>

<table>
    <tr>
        <th>Botanical Name</th>
        <th>Common Name</th>
    </tr>
    <%for(let i = 0; i < result.recordset.length; i++){%>
        <tr>
            <td><%=result.recordset[i].botanical%></td>
            <td><%=result.recordset[i].common%></td>
        </tr>
    <%}%>
</table>


<%- include("partials/footer"); -%>