<%- include("partials/header"); -%>
<h1>Hello World</h1>

<%for(let i = 0; i < result.recordset.length; i++){%>
    <p><%="Botanical Name = " + result.recordset[i].botanical + " Common Name = " + result.recordset[i].common%><p>
<%}%>

<%- include("partials/footer"); -%>