<%- include("partials/header"); -%>

<h4>Enter latitude, longitude and common name and get top 5 tree location near the given position.</h4>

<form action="/advance/nearTree" method="post">
    <!-- <div style="padding-bottom: 5px;">
        <select name="typeName">
            <option value="common" selected>Common Name</option>
            <option value="botanical">Botanical Name</option>
        </select>
    </div> -->
    <label>Latitude</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Here" name="lat">
    <label>Longitude</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Here" name="lng">
    <label>Common Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type Here" name="common">

    <button type="submit" class="btn myBtn">Submit</button>
</form>

<%- include("partials/footer"); -%>